/* Masonry Column */
.masonry-temp {
    column-count: 3;
    column-gap: 16px;
    padding: 15px;
    width: 900px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* border-radius: 16px; */
}

.masonry-item-temp {
    break-inside: avoid;
    margin-bottom: 16px;
    /* border-radius: 8px; */
}

.temp-picture img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    filter: blur(1px);
    transition: filter 0.5s ease;
    /* border-radius: 8px; */
}

@media screen and (max-width: 992px) {
    .masonry-item-temp {
        width: fit-content;
    }

    .temp-picture img {
        width: 100%;
        object-fit: cover;
    }
}

.template {
    display: flex;
    justify-content: center;
}

.temp-picture {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .3s ease;
}

.temp-picture:hover {
    scale: 1.2;
    z-index: 999;
}

.temp-picture:hover .temp-text {
    left: 120%;
    top: 50%;
    transform: translate(-100%, -50%) rotate(90deg);
}

.temp-picture:hover img {
    filter: blur(0px);
    width: 100%;
}

.temp-picture:hover .temp-text {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.5);
}

.temp-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    color: white;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 5px 10px;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
    transition: all .3s ease;
    /* border-radius: 20px; */
}